{{- if eq .chezmoi.hostname "MacBookPro" }}

fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
{{- end }}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export PATH="$HOME/.local/bin:$PATH"

eval "$(mise activate zsh)"

{{- if eq .chezmoi.hostname "MacBookPro" }}
eval "$(oh-my-posh init zsh --config $HOME/.config/oh-my-posh/tiwahu.omp.json)"
autoload -Uz compinit
compinit
{{- else }}
fpath+=($HOME/.zsh/pure)
autoload -U promptinit; promptinit
prompt pure
{{- end }}

alias v=nvim
alias vi=nvim
alias vim=nvim
alias t=tmux
alias tns="tmux new -s main"
alias tat="tmux attach -t main"
alias cat=bat
alias cls=clear

set -o vi
