{{- if eq .chezmoi.hostname "MacBookPro" }}
fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
{{- end }}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export PATH="$HOME/.local/bin:$PATH"

eval "$(mise activate zsh)"

{{- if eq .chezmoi.hostname "MacBookPro" }}
eval "$(oh-my-posh init zsh --config $HOME/.config/oh-my-posh/tiwahu.omp.json)"
export DOCKER_HOST="unix://$(podman machine inspect --format '{{ "{{" }}.ConnectionInfo.PodmanSocket.Path{{ "}}" }}')"
{{- else }}
fpath+=($HOME/.zsh/pure)
autoload -U promptinit; promptinit
prompt pure
{{- end }}

alias v=nvim
alias t=tmux
alias cat=bat

set -o vi

