[tools]
node = "lts"
python = "latest"
uv = "latest"
pipx = "latest"
neovim = "nightly"
bat = "latest"
yq = "latest"
gh = "latest"
sops = "latest"
age = "latest"
rclone = "latest"
cloudflared = "latest"
ansible = "latest"
terraform = "latest"
azure-cli = "latest"
flux2 = "latest"
kustomize = "latest"
kubectl = "latest"
k9s = "latest"
helm = "latest"
{{- if eq .chezmoi.hostname "MacBookPro" }}
oh-my-posh = "latest"
{{- end }}


{{- if ne .chezmoi.hostname "MacBookPro" }}
[settings]
trusted_config_paths = ["/workspaces"]
{{- end }}
