[tools]
node = "lts"
neovim = "nightly"
bat = "latest"
{{- if eq .chezmoi.hostname "MacBookPro" }}
oh-my-posh = "latest"
{{- end }}


{{- if ne .chezmoi.hostname "MacBookPro" }}
[settings]
trusted_config_paths = ["/workspaces"]
{{- end }}
