[tools]
bat = "latest"
fd = "latest"
neovim = "nightly"
node = "lts"
ripgrep = "latest"
tree-sitter = "latest"
tmux = "latest"
{{- if eq .chezmoi.hostname "MacBookPro" }}
oh-my-posh = "latest"
{{- end }}


{{- if ne .chezmoi.hostname "MacBookPro" }}
[settings]
trusted_config_paths = ["/workspaces"]
{{- end }}
